
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 36 67% 98%;
    --foreground: 20 14.3% 4.1%;
    --card: 36 67% 98%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 36 67% 98%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 27 29% 50%;
    --primary-foreground: 30 100% 98%;
    --secondary: 34 44% 85%;
    --secondary-foreground: 20 14.3% 4.1%;
    --muted: 34 44% 92%;
    --muted-foreground: 24 5.4% 60%;
    --accent: 34 44% 69%;
    --accent-foreground: 20 14.3% 4.1%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 27 29% 85%;
    --input: 27 29% 90%;
    --ring: 27 29% 50%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 36 67% 98%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 36 67% 98%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 36 67% 98%;
    --primary: 27 29% 50%;
    --primary-foreground: 30 100% 98%;
    --secondary: 34 44% 20%;
    --secondary-foreground: 36 67% 98%;
    --muted: 34 44% 15%;
    --muted-foreground: 24 5.4% 60%;
    --accent: 34 44% 69%;
    --accent-foreground: 20 14.3% 4.1%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 27 29% 25%;
    --input: 27 29% 20%;
    --ring: 27 29% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    scroll-behavior: smooth;
  }
}
